<div class=" text-muted m-4 border-dashed  h-90 text-center  align-items-center">

    <div class="mt-15">
        <div class="d-flex justify-content-center">
            <form class="text-left  border-solid p-3" [formGroup]="formGroup" id="formGroup">
                <h4>No problem, recovery your account</h4>
                <div class="form-group">
                    <label for="emailInput">User email</label>
                    <input type="email" formControlName="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="text-left mt-3 mb-3">
                    <a class="" [routerLink]="['/account','login']">Return to login</a>
                </div>
                <button type="submit" class="btn btn-primary float-right" (click)="recovery()">Recovery</button>
            </form>
        </div>

    </div>
</div>