<div class="container-fluid d-flex height-99 flex-column text-center text-white">
    <div class="row height-99">
        <div class="col-4 bg-account order-last">

            <h4 class=" mt-3" [routerLink]="['/account','login']">Welcome to Application</h4>

            <div class="height-75 mt-5">
                <h2 class="">{{titulo }}</h2>
            </div>
            <nav class="nav flex-column align-bottom">

                <a class="nav-link text-white" [routerLink]="['/about-us']">About us</a>
            </nav>
        </div>
        <div class="col-8 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>